.news-items{
    width: 100%;
    text-align: center;
}

.news-card{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #c4c4c4;
    margin: 20px 40px;
    padding: 21px 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.news-card img{
    width: 360px;
    height: 360px;
}

.news-card .news-title{
    font-size: 21px;
}

.news-desc{
    font-size: 16px;
}